
.filterInput {
    width: 80%;
    margin-right: 10%;
    margin-top: 1%;
}

label {
    margin-top: 10%;
    padding-top: 10%;
    display: grid;
    user-select: none;
    margin-left: 12.5%;
}

button {
    margin-top: 1%;
    display: grid;
    user-select: none;
    margin-left: 12.5%;
}
